include "startup.kdl"
include "decorations.kdl"
include "windowrules.kdl"
include "keybinds.kdl"

input {
    keyboard {
        numlock
        xkb {
            options "ctrl:nocaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 10000
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

debug {
  honor-xdg-activation-with-invalid-serial
}
